<div id="search-field">
    <%= form_for @search, html: { id: 'autocomplete-cards'} do |f| %>
    <div class='text-fields row'>
      <div class='col-xs-10 col-xs-offset-1'>
        <h1>Search</h1>
        <%= f.autocomplete_field :name_field, autocomplete_card_name_searches_path, {
          'data-auto-focus' => true,
          update_elements: {},
          placeholder: "Card Name" }
        %>
        <%= f.text_field :text_field, placeholder: "Card Text" %>
        <%= f.text_field :type_field, placeholder: "Card Types" %>
        <% formats = [ "Commander", "Standard", "Legacy", "Vintage", "Modern" ] %>
        <%= f.select :format_field, options_for_select(formats), prompt: "Card Format" %>
        <%= f.text_field :advanced_field, placeholder: "(o:transmute t!:creature) c!u cmc=2" %>
      </div>
      <div class="col-xs-1"></div>
    </div>
    <div class="row title">
      <div class='col-xs-1'></div>
      <div class='col-xs-11'>
        <h3>Color Identity</h3>
      </div>
    </div>
    <div class='row checkboxes'>
      <div class='col-xs-1'></div>
      <% ['White','Blue','Black','Red','Green'].each do |color| %>
      <div class='col-xs-2'>
        <h6><%= color %>:</h6>
        <%
        unless @search.colors.nil?
          checked = @search.colors.include? color 
        end
        %>
        <%= check_box :search, :colors, {multiple: true, checked: checked}, color, nil %>
      </div>
      <% end %>
      <div class='col-xs-1'></div>
    </div>
    <div class="row checkboxes">
      <div class='col-xs-1'></div>
      <div class='col-xs-2 exclusive'>
        <h6>Exact?</h6>
        <%= f.check_box :exact_field, {}, true, nil %>
      </div>
      <div class='col-xs-9'></div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 submit-button">
        <%= f.submit "Search!", id: 'search-submit' %>
      </div>
    </div>
  <% end %>
</div>