<div class="row">
  <div class="col-md-12">
    <%= will_paginate @cards, inner_window: 1, outer_window: 1, previous_label: '←', next_label: '→'  %>
  </div>
</div>

<div class="container">
<% @cards.in_groups_of( 2, false) do |card_row| %>
  <div class="row">
  <% card_row.each do |card| %>
    <div class="col-sm-6">
      <%= render card %>
    </div>
  <% end %>
  </div>
<% end %>
</div>
<div class="row">
  <div class="col-md-12">
    <%= will_paginate @cards, inner_window: 1, outer_window: 1, previous_label: '←', next_label: '→'  %>
  </div>
</div>

<div id="search-container" class="row">
  <div class="col-md-4">
    <%= render 'adv_form' %>
  </div>
  <div class="col-md-8">
    <%= render 'cards/preview' %>
  </div>
</div>