<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :layout %><br>
    <%= f.text_area :layout %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_area :type %>
  </div>
  <div class="field">
    <%= f.label :types %><br>
    <%= f.text_area :types %>
  </div>
  <div class="field">
    <%= f.label :colors %><br>
    <%= f.text_area :colors %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :rarity %><br>
    <%= f.text_area :rarity %>
  </div>
  <div class="field">
    <%= f.label :cmc %><br>
    <%= f.number_field :cmc %>
  </div>
  <div class="field">
    <%= f.label :mana_cost %><br>
    <%= f.text_area :mana_cost %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.label :flavor %><br>
    <%= f.text_area :flavor %>
  </div>
  <div class="field">
    <%= f.label :artist %><br>
    <%= f.text_area :artist %>
  </div>
  <div class="field">
    <%= f.label :rulings %><br>
    <%= f.text_area :rulings %>
  </div>
  <div class="field">
    <%= f.label :legalities %><br>
    <%= f.text_area :legalities %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_area :number %>
  </div>
  <div class="field">
    <%= f.label :foreign_names %><br>
    <%= f.text_area :foreign_names %>
  </div>
  <div class="field">
    <%= f.label :source %><br>
    <%= f.text_area :source %>
  </div>
  <div class="field">
    <%= f.label :image_name %><br>
    <%= f.text_area :image_name %>
  </div>
  <div class="field">
    <%= f.label :printings %><br>
    <%= f.text_area :printings %>
  </div>
  <div class="field">
    <%= f.label :release_date %><br>
    <%= f.text_area :release_date %>
  </div>
  <div class="field">
    <%= f.label :subtypes %><br>
    <%= f.text_area :subtypes %>
  </div>
  <div class="field">
    <%= f.label :power %><br>
    <%= f.text_area :power %>
  </div>
  <div class="field">
    <%= f.label :toughness %><br>
    <%= f.text_area :toughness %>
  </div>
  <div class="field">
    <%= f.label :names %><br>
    <%= f.text_area :names %>
  </div>
  <div class="field">
    <%= f.label :supertypes %><br>
    <%= f.text_area :supertypes %>
  </div>
  <div class="field">
    <%= f.label :multiverseid %><br>
    <%= f.number_field :multiverseid %>
  </div>
  <div class="field">
    <%= f.label :original_type %><br>
    <%= f.text_area :original_type %>
  </div>
  <div class="field">
    <%= f.label :original_text %><br>
    <%= f.text_area :original_text %>
  </div>
  <div class="field">
    <%= f.label :variations %><br>
    <%= f.text_area :variations %>
  </div>
  <div class="field">
    <%= f.label :reserved %><br>
    <%= f.check_box :reserved %>
  </div>
  <div class="field">
    <%= f.label :loyalty %><br>
    <%= f.number_field :loyalty %>
  </div>
  <div class="field">
    <%= f.label :border %><br>
    <%= f.text_area :border %>
  </div>
  <div class="field">
    <%= f.label :watermark %><br>
    <%= f.text_area :watermark %>
  </div>
  <div class="field">
    <%= f.label :timeshifted %><br>
    <%= f.check_box :timeshifted %>
  </div>
  <div class="field">
    <%= f.label :starter %><br>
    <%= f.check_box :starter %>
  </div>
  <div class="field">
    <%= f.label :hand %><br>
    <%= f.number_field :hand %>
  </div>
  <div class="field">
    <%= f.label :life %><br>
    <%= f.number_field :life %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
