<div id="search-field">
    <%= form_tag cards_path, method: 'get', id: 'autocomplete-cards' do %>
    <div class='text-fields row'>
      <div class='col-xs-10 col-xs-offset-1'>
        <h1>Search</h1>
        <%= autocomplete_field_tag :n, '', autocomplete_card_name_cards_path, 
          'data-auto-focus' => true,
          update_elements: {},
          placeholder: "Card Name"
        %>
        <%= text_field_tag :o, nil, placeholder: "Card Text" %>
        <%= text_field_tag :t, nil, placeholder: "Card Types" %>
        <% formats = [ "Commander", "Standard", "Legacy", "Vintage", "Modern" ] %>
        <%= select_tag :f, options_for_select(formats), prompt: "Card Format" %>
        <%= text_field_tag :adv, nil, placeholder: "(o:transmute t!:creature) c!u cmc=2" %>
      </div>
      <div class="col-xs-1"></div>
    </div>
    <div class="row title">
      <div class='col-xs-1'></div>
      <div class='col-xs-11'>
        <h3>Color Identity</h3>
      </div>
    </div>
    <div class='row checkboxes'>
      <div class='col-xs-1'></div>
      <% ['White','Blue','Black','Red','Green'].each do |color| %>
      <div class='col-xs-2'>
        <h6><%= color %>:</h6>
        <%= check_box_tag  color, 1 %>
      </div>
      <% end %>
      <div class='col-xs-1'></div>
    </div>
    <div class="row checkboxes">
      <div class='col-xs-1'></div>
      <div class='col-xs-2 exclusive'>
        <h6>Exact?</h6>
        <%= check_box_tag  'exact_id', 1 %>
      </div>
      <div class='col-xs-9'></div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 submit-button">
        <%= submit_tag "Search!", id: 'search-submit' %>
      </div>
    </div>
    
  <% end %>
</div>