<%= form_for(@deck) do |f| %>
  <% if @deck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deck.errors.count, "error") %> prohibited this deck from being saved:</h2>

      <ul>
      <% @deck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label "Deck Name" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Deck Description" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label "Deck Format" %><br>
    <% formats = [ "Commander", "Standard", "Legacy", "Vintage", "Modern" ] %>
    <%= f.select :format, options_for_select(formats), prompt: "Deck Format" %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>