<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <h1>Mainboard</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 full-deck" data-id="<%= @deck.id %>">
      <%= render 'decks/full_deck' %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <%= render 'cards/simple_search' %>
    <%= render 'cards/preview' %>
  </div>
</div>
<div class="row edit-form">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <%= render 'form' %>
  </div>
</div>