<h1><%= @user.name %>'s Decks</h1>
<h5>(<%= @user.decks.count %> total)</h5>
<%= will_paginate @decks, inner_window: 1, outer_window: 1, previous_label: '←', next_label: '→'  %>
<table class="partials-table">
  <tr>
    <th>Name:</th>
    <th>Format:</th>
    <th>Last updated:</th>
  </tr>
  <% @decks.each do |deck| %>
    <%= render deck %>
  <% end %>
</table>
<%= will_paginate @decks, inner_window: 1, outer_window: 1, previous_label: '←', next_label: '→'  %>